@page "/learninggoals"

<h3>Læringsmål</h3>

<p>Her kan du få adgang til læringsmaterialer og gennemføre quizzer.</p>

<!-- Midlertidigt eksempel på læringsmateriale i en iframe -->
<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" 
        width="560" 
        height="315" 
        frameborder="0" 
        allowfullscreen>
</iframe>

<iframe src="https://www.youtube.com/embed/OMOGaugKpzs"
        width="560"
        height="315"
        frameborder="0"
        allowfullscreen>
</iframe>

<iframe src="https://www.youtube.com/embed/qa3hOpIa0rg"
        width="560"
        height="315"
        frameborder="0"
        allowfullscreen>
</iframe>
        

<!-- Senere: vis liste over mål og status -->